infrastructure/cloudformation/orchestration.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: NYC Taxi Pipeline Orchestration - Step Functions (ingestion taxi+weather en parallele + Glue) + EventBridge

Resources:

  # =========================
  # IAM ROLE — LAMBDA INGESTION
  # =========================
  IngestionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: nyc-taxi-ingestion-lambda-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3WriteBronzePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                  - s3:HeadObject
                Resource:
                  - arn:aws:s3:::nyc-taxi-platform/bronze/taxi/*
                  - arn:aws:s3:::nyc-taxi-platform/bronze/weather/*

  # =========================
  # LAMBDA — INGESTION TAXI
  # =========================
  IngestTaxiLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: nyc-ingest-taxi-month
      Runtime: python3.11
      Handler: index.lambda_handler
      Role: !GetAtt IngestionLambdaRole.Arn
      Timeout: 600
      MemorySize: 1536
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python311:17
      Environment:
        Variables:
          S3_BUCKET: nyc-taxi-platform
          TLC_DELAY_MONTHS: "2"
      Code:
        ZipFile: |
          import json, io, os, urllib.request, urllib.error
          from datetime import date
          from dateutil.relativedelta import relativedelta
          import boto3
          import pandas as pd

          s3 = boto3.client("s3")
          S3_BUCKET = os.environ["S3_BUCKET"]
          TLC_DELAY = int(os.environ.get("TLC_DELAY_MONTHS", "2"))

          def compute_target_month():
              today = date.today()
              target = today - relativedelta(months=TLC_DELAY)
              return target.strftime("%Y-%m")

          def file_exists_on_s3(key):
              try:
                  s3.head_object(Bucket=S3_BUCKET, Key=key)
                  return True
              except Exception:
                  return False

          def lambda_handler(event, context):
              month = event.get("month") or compute_target_month()
              key = f"bronze/taxi/taxi_{month}.parquet"

              if file_exists_on_s3(key):
                  return {
                      "statusCode": 200,
                      "month": month,
                      "status": "already_exists",
                      "s3_key": key,
                      "message": f"Fichier deja present sur S3, ingestion ignoree"
                  }

              try:
                  url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{month}.parquet"
                  req = urllib.request.Request(url, headers={"User-Agent": "Mozilla/5.0"})

                  try:
                      response = urllib.request.urlopen(req, timeout=30)
                  except urllib.error.HTTPError as http_err:
                      if http_err.code == 404:
                          return {
                              "statusCode": 404,
                              "month": month,
                              "status": "not_available",
                              "message": f"Fichier NYC TLC non encore publie pour {month}"
                          }
                      raise http_err

                  with response:
                      raw_bytes = response.read()

                  df = pd.read_parquet(io.BytesIO(raw_bytes))
                  df = df.dropna(subset=["tpep_pickup_datetime", "tpep_dropoff_datetime"])

                  local_path = f"/tmp/taxi_{month}.parquet"
                  df.to_parquet(local_path, index=False)
                  s3.upload_file(local_path, S3_BUCKET, key)

                  return {
                      "statusCode": 200,
                      "month": month,
                      "status": "ingested",
                      "rows": len(df),
                      "s3_key": key
                  }

              except Exception as e:
                  raise RuntimeError(f"Echec ingestion taxi {month} : {str(e)}")

  # =========================
  # LAMBDA — INGESTION WEATHER
  # Recupere la meteo Open-Meteo pour le meme mois que le taxi
  # =========================
  IngestWeatherLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: nyc-ingest-weather-month
      Runtime: python3.11
      Handler: index.lambda_handler
      Role: !GetAtt IngestionLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Environment:
        Variables:
          S3_BUCKET: nyc-taxi-platform
          TLC_DELAY_MONTHS: "2"
      Code:
        ZipFile: |
          import json, os, urllib.request
          from datetime import date
          from dateutil.relativedelta import relativedelta
          import boto3
          import calendar

          s3 = boto3.client("s3")
          S3_BUCKET = os.environ["S3_BUCKET"]
          TLC_DELAY = int(os.environ.get("TLC_DELAY_MONTHS", "2"))

          def compute_target_month():
              today = date.today()
              target = today - relativedelta(months=TLC_DELAY)
              return target.strftime("%Y-%m")

          def file_exists_on_s3(key):
              try:
                  s3.head_object(Bucket=S3_BUCKET, Key=key)
                  return True
              except Exception:
                  return False

          def lambda_handler(event, context):
              month = event.get("month") or compute_target_month()
              key = f"bronze/weather/weather_{month}.json"

              if file_exists_on_s3(key):
                  return {
                      "statusCode": 200,
                      "month": month,
                      "status": "already_exists",
                      "s3_key": key,
                      "message": f"Meteo deja presente sur S3, ingestion ignoree"
                  }

              try:
                  year, m = month.split("-")
                  last_day = calendar.monthrange(int(year), int(m))[1]
                  start_date = f"{month}-01"
                  end_date = f"{month}-{last_day:02d}"

                  url = (
                      f"https://archive-api.open-meteo.com/v1/archive"
                      f"?latitude=40.7128"
                      f"&longitude=-74.0060"
                      f"&start_date={start_date}"
                      f"&end_date={end_date}"
                      f"&hourly=temperature_2m,precipitation,windspeed_10m,weathercode"
                      f"&timezone=America/New_York"
                  )

                  req = urllib.request.Request(url, headers={"User-Agent": "Mozilla/5.0"})
                  with urllib.request.urlopen(req, timeout=30) as response:
                      data = json.loads(response.read().decode("utf-8"))

                  s3.put_object(
                      Bucket=S3_BUCKET,
                      Key=key,
                      Body=json.dumps(data),
                      ContentType="application/json"
                  )

                  hours = len(data.get("hourly", {}).get("time", []))
                  return {
                      "statusCode": 200,
                      "month": month,
                      "status": "ingested",
                      "hours": hours,
                      "s3_key": key
                  }

              except Exception as e:
                  raise RuntimeError(f"Echec ingestion weather {month} : {str(e)}")

  # =========================
  # IAM ROLE — STEP FUNCTIONS
  # =========================
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: nyc-taxi-stepfunctions-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: GlueAndLambdaPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource: "*"
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt IngestTaxiLambda.Arn
                  - !GetAtt IngestWeatherLambda.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  # =========================
  # CLOUDWATCH LOG GROUP — STEP FUNCTIONS
  # =========================
  PipelineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/vendedlogs/states/nyc-taxi-pipeline
      RetentionInDays: 30

  # =========================
  # STEP FUNCTIONS — PIPELINE BOUT EN BOUT
  # Parallel : IngestTaxi + IngestWeather simultanement
  # puis : BronzeToSilver -> SilverToGold -> GoldToRds
  # =========================
  PipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: nyc-taxi-pipeline
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      LoggingConfiguration:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt PipelineLogGroup.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Pipeline NYC Taxi bout en bout : ingestion taxi+weather en parallele -> bronze_to_silver -> silver_to_gold -> gold_to_rds",
          "StartAt": "IngestAllData",
          "States": {
            "IngestAllData": {
              "Type": "Parallel",
              "Comment": "Ingestion taxi et meteo en parallele pour le meme mois cible",
              "Branches": [
                {
                  "StartAt": "IngestTaxi",
                  "States": {
                    "IngestTaxi": {
                      "Type": "Task",
                      "Resource": "${IngestTaxiLambda.Arn}",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "IngestWeather",
                  "States": {
                    "IngestWeather": {
                      "Type": "Task",
                      "Resource": "${IngestWeatherLambda.Arn}",
                      "End": true
                    }
                  }
                }
              ],
              "Next": "CheckTaxiStatus",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed"
                }
              ]
            },
            "CheckTaxiStatus": {
              "Type": "Choice",
              "Comment": "Verifie si les donnees taxi sont disponibles avant de lancer Glue",
              "Choices": [
                {
                  "Variable": "$[0].status",
                  "StringEquals": "not_available",
                  "Next": "DataNotYetAvailable"
                }
              ],
              "Default": "BronzeToSilver"
            },
            "DataNotYetAvailable": {
              "Type": "Succeed",
              "Comment": "Fichier NYC TLC pas encore publie — pipeline termine proprement sans erreur"
            },
            "BronzeToSilver": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "bronze_to_silver"
              },
              "Next": "SilverToGold",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed"
                }
              ]
            },
            "SilverToGold": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "silver_to_gold"
              },
              "Next": "GoldToRds",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed"
                }
              ]
            },
            "GoldToRds": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "gold_to_rds"
              },
              "Next": "PipelineSucceeded",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "PipelineFailed"
                }
              ]
            },
            "PipelineSucceeded": {
              "Type": "Succeed"
            },
            "PipelineFailed": {
              "Type": "Fail",
              "Cause": "Une etape du pipeline NYC Taxi a echoue"
            }
          }
        }

  # =========================
  # IAM ROLE — EVENTBRIDGE
  # =========================
  EventBridgeInvokeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: nyc-taxi-eventbridge-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStateMachinePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref PipelineStateMachine

  # =========================
  # EVENTBRIDGE — DECLENCHEMENT MENSUEL AUTOMATIQUE
  # Le 5 de chaque mois a 6h UTC
  # Aucun Input : les Lambdas calculent elles-memes le mois cible
  # DISABLED par defaut
  # =========================
  MonthlyScheduleRule:
    Type: AWS::Events::Rule
    Properties:
      Name: nyc-taxi-monthly-schedule
      Description: >
        Declenche automatiquement le pipeline NYC Taxi le 5 de chaque mois.
        Les Lambdas calculent automatiquement le mois cible (mois courant - 2 mois).
        Aucune intervention manuelle requise.
      ScheduleExpression: "cron(0 6 5 * ? *)"
      State: DISABLED
      Targets:
        - Arn: !Ref PipelineStateMachine
          Id: MonthlyPipelineTarget
          RoleArn: !GetAtt EventBridgeInvokeRole.Arn

Outputs:
  StateMachineArn:
    Value: !Ref PipelineStateMachine
    Export:
      Name: NycTaxiPipelineStateMachineArn

  IngestTaxiLambdaArn:
    Value: !GetAtt IngestTaxiLambda.Arn

  IngestWeatherLambdaArn:
    Value: !GetAtt IngestWeatherLambda.Arn

  MonthlyScheduleRuleName:
    Value: !Ref MonthlyScheduleRule
